<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tidier | Add Bins</title>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js"
    integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>

  {% include "nav.html" %}

  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Add">
  </form>
  <div id="reader"></div>
  <div id="result"></div>
  <script defer>
    fetch('https://httpbin.org/ip')
    //jsonip.com
      .then(response => response.json())
      .then(data => {
        fetch(`https://ipapi.co/${data.origin}/json`).then(response => response.json()).then(
          data => {
            console.log(data.latitude);
            console.log(data.longitude);
            console.log(data.city);

            let city = document.getElementById("id_City");
            const scanner = new Html5QrcodeScanner('reader', {
              qrbox: {
                width: 250,
                height: 250,
              },
              fps: 20,
            });

            if (city) {
              city.value = data.city;
            }
            scanner.render(success, () => null);
            function success(result) {
              console.log("Raw Result:", result); // Log the raw result to check its content
              document.getElementById('result').innerHTML = result;
              scanner.clear();

              try {
                let sanitizedResult = result.replace(/'/g, '"');
                id_qr_data.value = sanitizedResult;
              } catch (e) {
                console.error("Error parsing JSON:", e);
              }
              function error(err) {
                console.error(err);
              }
            }
          }
        );
      })
      .catch(error => console.error('Error fetching IP address:', error));
  </script>
</body>

</html>