{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate QRCode</title>
    <link rel="stylesheet" href="{% static "css/genQR.css" %}">
    <script src="{% static "js/genQR.js" %}" defer></script>
    <style>
        
    </style>
</head>
<body>
    {%include "nav.html"%}
    <div class="qrs">
        <table>
            {%for qr in QR%}
            <tr class="qr">
                <td>
                    <p class="qr_p">{{qr.data}}</p>
                </td>
                <td>
                    <a  id="a" href="{{qr.image.url}}" download><img class="QRCodes" src="{{qr.image.url}}"></a>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="GENERATE">
    </form>
</body>
</html>