<style>
    *
    {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    .links
    {
        transition: all .2s;
    }

    .links:hover
    {
        color: white;
    }

    .content
    {
        margin: 10px;
    }

    body
    {
        margin: 0;
    }
    .nav
    {
        display: flex;
        justify-content: right;
        background-color: #5EBBEF;
        height: 100px;
        width: 100dvw;
        display: flex;
        align-items: center;
    }
    .name
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 15px;
        
    }
    a
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 10px;
        text-decoration: none;
        color: black;
    }
    .messages
    {
        margin:0px;
        padding:10px;
        display: flex;
        justify-content: center;
        background-color:#5EBBEF;
        color:#FFF;
    }
    @media screen and (max-width: 700px) {
        
        #user
        {
        display: none;       
        }
        .nav
        {
            justify-content: center;
        }
    }
</style>

<nav class="nav">
    <div class="content">
        <a class="name links" href="/">Tidier</a>
        <a href="/logoutUser" class="links">Logout</a>
        <a href="{% url 'creatBin' %}" class="links">{% url 'creatBin' %}</a>
        <a href="/QR" class="links">Generate QR</a>
        <span id='user' class="links">{{user}}</span>
    </div>
</nav>