* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.links {
    transition: all .2s;
    color: #fff;
}

.links:hover {
    color: #c4c4c4;
    font-size: 20px;
}

.content {
    margin-right: 10px;
    margin-left: 10px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


.nav {
    display: flex;
    justify-content: center;
    background-color: #242424;
    height: 100px;
    width: 100dvw;
    align-items: center;
}

.name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 15px;

}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    text-decoration: none;
    color: black;
}

th {
    margin-left: 10px;
    margin-right: 10px;
}

.messages {
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #242424;
    color: #FFF;
}

@media screen and (max-width: 700px) {

    #user {
        display: none;
    }

    .nav {
        justify-content: center;
    }
}

#content {
    background-color: #242424;
    width: 70dvw;
    display: flex;
    position: fixed;
    left: 15dvw;
    bottom: 0dvh;
    padding-bottom: 10dvh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: center;
    transition: all 1s;
}

td {
    color: #a4a4a4;
    padding: 10px;
    font-weight: bolder;
    transition: all .3s;
}

td:hover {
    color: #fff;
    font-weight: bolder;
}

th {
    color: #fff;
}

#logo {
    margin-top: 10px;
    font-size: 100px;
}

#query {
    color: #a4a4a4;
    text-shadow: currentColor 1px 1px 10px;
    transition: all .3s;
    font-weight: bolder;
    text-decoration: none;
}

#query:hover {
    color: white;
}

@media screen and (max-width: 1180px) {
    #content {
        width: 90dvw;
        left: 5dvw;
        justify-content: center;
    }

    td {
        padding: 5px;
    }

    #query {
        font-size: 15px;
    }
}

#stats {
    display: flex;
}

.bar {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 20px;
    width: max-content;
    height: max-content;
    padding: 10px;
    transition: all 1s;
    border: none;
    background-color: transparent;
}

#s1 {
    left: 10px;
}

.outer {
    width: 162px;
    cursor: crosshair;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    text-align: center;
    transition: all .3s;
}

.inner {
    border-radius: 50%;
    display: flex;
    height: 120px;
    width: 120px;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), .0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    align-items: center;
    justify-content: center;

}

svg {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 430;
    position: absolute;
    top: 10px;
    left: 10px;
}

.data {
    font-weight: 200;
    color: #333;
}

.svg {
    stroke-dashoffset: 430;
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.bar:hover .outer {
    background-color: #a4a4a4;
}

.inner {
    background-color: #fff;
}