{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tidier | Add Bins</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js"
    integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{% static "css/addBins.css" %}">
    <script src="{% static "js/addBins.js" %}" defer></script>
</head>

<body>
  
  {% include "nav.html" %}
  
  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Add">
  </form>
  <div id="reader"></div>
  <div id="result"></div>
</body>

</html>