{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tidier</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <script src="{% static "js/index.js" %}" defer></script>
</head>

<body>

    {% include "nav.html" %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>

    <script>
        let messages = document.querySelector(".messages");
        setTimeout(() => {
            messages.style.display = "none";
        }, 2000);
    </script>
    {% endif %}
    <h1 id="logo">Tidier</h1>
    <div id="stats">
        <button  class="bar">
            <div class="outer">
                <div class="inner">
                    <div class="data"></div>
                    <div class="data_P"></div>
                </div>
            </div>
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                    <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#673ab7" />
                        <stop offset="1000%" stop-color="#e91e63" />
                    </linearGradient>
                </defs>
                <circle cx="80" cy="80" r="70" stroke-linecap="round" />
            </svg>
        </button>
    </div>

    <section id="content">

        <table class="workTab">
            <tr id="ths">
                <th>Bin ID</th>
                <th>Last Refresh</th>
                <th>Fill up</th>
                <th>Status</th>
                <th>Refresh Status</th>
                <th>Area</th>
                <th>City</th>
                <th>Longitude</th>
                <th>Latitude</th>
            </tr>
            {% for bin in bins %}
            <tr>
                <td class="BinID" id="{{ bin.BinID }}">{{ bin.BinID }}</td>
                <td{% if bin.tags %} class="{{ bin.tags }}" {% endif %}>{{ bin.lastRefresh }}</td>
                    <td class="fillUp">{{ bin.fillUp }}%</td>
                    <td{% if bin.tags %} class="{{ bin.tags }}" {% endif %}>{{ bin.status }}</td>
                        <td{% if bin.tags %} class="{{ bin.tags }}" {% endif %}>{{ bin.refreshStats }}</td>
                            <td class="Area"><a target="_blank" id="query"
                                    href="https://www.google.com/search?q={{bin.Area}},+{{bin.City}}">{{bin.Area}}</a>
                            </td>
                            <td{% if bin.tags %} class="{{ bin.tags }}" {% endif %}>{{ bin.City }}</td>
                                <td{% if bin.tags %} class="{{ bin.tags }}" {% endif %}>{{ bin.Lon }}</td>
                                    <td{% if bin.tags %} class="{{ bin.tags }}" {% endif %}>{{ bin.Lat }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>

</body>

</html>