
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tidier | Login</title>
</head>
<body>
  {% include "nav.html" %}
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    <h1>
      Login To Gain acces
    </h1>
    <form method='POST'>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Login">
    </form> 
</body>
</html>

<style>
</style>

<script>
    let messages = document.getElementsByClassName("messages")[0]
    setTimeout(() => {
        messages.style.display = "none";
    }, 4000);
</script>